# Python do 0 ao DS - Módulo 1

## Importação das bibliotecas e carregamento do dataset

In [1]:
import pandas as pd

In [4]:
data = pd.read_csv('datasets/kc_house_data.csv')
data.head(2)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639

## Respondendo perguntas do CEO I
1. **Quantas casas estão disponíveis para compra?** 21436 casas (177 com id's repetidos).
2. **Quantos atributos as casas possuem?** 19 atributos.
3. **Quais são os atributos das casas?** id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15 e sqft_lot15.
4. **Qual a casa mais cara?** É a casa de id 6762700020.
5. **Qual a casa com o maior número de quartos?** É a casa de id 2402100895.

In [5]:
data.shape

(21613, 21)

In [40]:
len(data['id'].unique())

21436

In [13]:
for atributo in data.columns:
    print(atributo, end=', ')

id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15,

In [15]:
data.sort_values(by='price', ascending=False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
7252,6762700020,20141013T000000,7700000.0,6,8.00,12050,27600,2.5,0,3,...,13,8570,3480,1910,1987,98102,47.6298,-122.323,3940,8800
3914,9808700762,20140611T000000,7062500.0,5,4.50,10040,37325,2.0,1,2,...,11,7680,2360,1940,2001,98004,47.6500,-122.214,3930,25449
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
4411,2470100110,20140804T000000,5570000.0,5,5.75,9200,35069,2.0,0,0,...,13,6200,3000,2001,0,98039,47.6289,-122.233,3560,24345
1448,8907500070,20150413T000000,5350000.0,5,5.00,8000,23985,2.0,0,4,...,12,6720,1280,2009,0,98004,47.6232,-122.220,4600,21750
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8274,3883800011,20141105T000000,82000.0,3,1.00,860,10426,1.0,0,0,...,6,860,0,1954,0,98146,47.4987,-122.341,1140,11250
16198,3028200080,20150324T000000,81000.0,2,1.00,730,9975,1.0,0,0,...,5,730,0,1943,0,98168,47.4808,-122.315,860,9000
465,8658300340,20140523T000000,80000.0,1,0.75,430,5050,1.0,0,0,...,4,430,0,1912,0,98014,47.6499,-121.909,1200,7500
15293,40000362,20140506T000000,78000.0,2,1.00,780,16344,1.0,0,0,...,5,780,0,1942,0,98168,47.4739,-122.280,1700,10387
1149,3421079032,20150217T000000,75000.0,1,0.00,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882

In [26]:
house_more_priced = data.loc[7252, 'id']
print(f'A casa com maior preço tem id \033[31m{house_more_priced}\033[m.')

A casa com maior preço tem id 6762700020.

In [20]:
data.sort_values('bedrooms', ascending=False)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700
8757,1773100755,20140821T000000,520000.0,11,3.00,3000,4960,2.0,0,0,...,7,2400,600,1918,1999,98106,47.5560,-122.363,1420,4960
15161,5566100170,20141029T000000,650000.0,10,2.00,3610,11914,2.0,0,0,...,7,3010,600,1958,0,98006,47.5705,-122.175,2040,11914
13314,627300145,20140814T000000,1148000.0,10,5.25,4590,10920,1.0,0,2,...,9,2500,2090,2008,0,98004,47.5861,-122.113,2730,10400
19254,8812401450,20141229T000000,660000.0,10,3.00,2920,3745,2.0,0,0,...,7,1860,1060,1913,0,98105,47.6635,-122.320,1810,3745
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19452,3980300371,20140926T000000,142000.0,0,0.00,290,20875,1.0,0,0,...,1,290,0,1963,0,98024,47.5308,-121.888,1620,22850
8484,2310060040,20140925T000000,240000.0,0,2.50,1810,5669,2.0,0,0,...,7,1810,0,2003,0,98038,47.3493,-122.053,1810,5685
875,6306400140,20140612T000000,1095000.0,0,0.00,3064,4764,3.5,0,2,...,7,3064,0,1990,0,98102,47.6362,-122.322,2360,4000
8477,2569500210,20141117T000000,339950.0,0,2.50,2290,8319,2.0,0,0,...,8,2290,0,1985,0,98042,47.3473,-122.151,2500,8751
9773,3374500520,20150429T000000,355000.0,0,0.00,2460,8049,2.0,0,0,...,8,2460,0,1990,0,98031,47.4095,-122.168,2520,8050

In [25]:
house_more_bedrooms = data.loc[15870, 'id']
print(f'A casa com o maior número de quartos tem id \033[31m{house_more_bedrooms}\033[m.')

A casa com o maior número de quartos tem id 2402100895.

6. **Qual a soma total de quartos do conjunto de dados?** 72854 quartos.
7. **Quantas casas possuem 2 banheiros?** 1930 casas.
8. **Qual o preço médio de todas as casas no conjunto de dados?** $540.088,14
9. **Qual o preço médio de casas com 2 banheiros?** 457.889,71 dólares.
10. **Qual o preço mínimo entre as casa com 3 quartos?** 82.000,00 dólares.

In [24]:
sum_bedrooms = data['bedrooms'].sum()
print(f'A soma de quartos do dataset é de \033[31m{sum_bedrooms}\033[m.')

A soma de quartos do dataset é de 72854.

In [29]:
qtd_twobath = data[data['bathrooms'] == 2].shape
print(f'Quantidade de casas com 2 banheiros: {qtd_twobath[0]}.')

Quantidade de casas com 2 banheiros: 1930.

In [32]:
data['price'].mean()

540088.1417665294

In [37]:
data[data['bathrooms'] == 2]['price'].mean()

457889.7186528497

In [38]:
data[data['bedrooms'] == 3]['price'].min()

82000.0

11. **Quantas casas possuem mais de 300 metros quadrados na sala de estar?** 2251 casas.
12. **Quantas casas tem mais de 2 andares?** 780 casas.
13. **Quantas casas tem vista para o mar?** 163 casas.
14. **Das casas com vista para o mar, quantas tem 3 quartos?** 64 casas.
15. **Das casas com mais de 300m² na sala de estar, quantas tem mais de 2 banheiros?** 2194 casas.

In [46]:
data['m2'] = data['sqft_living'] * 0.093

In [47]:
len(data[data['m2'] > 300]['id'].unique())

2251

In [48]:
len(data[data['m2'] > 300]['id'])

2258

In [50]:
len(data[data['floors'] > 2]['id'].unique())

780

In [51]:
len(data[data['floors'] > 2]['id'])

782

In [52]:
len(data[data['waterfront'] == 1]['id'])

163

In [53]:
len(data[data['waterfront'] == 1]['id'].unique())

163

In [62]:
len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3), 'id'])

64

In [70]:
len(data.loc[(data['waterfront'] == 1) & (data['bedrooms'] == 3)]['id'].unique())

64

In [65]:
len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2), 'id'])

2201

In [69]:
len(data.loc[(data['m2'] > 300) & (data['bathrooms'] > 2)]['id'].unique())

2194