# Estruturas de Controle - Módulo 4

## Novas perguntas do CEO

1. Qual a média do preço de compra dos imóveis por “Nível”? 
- Nível 0 -> Preço entre 0 e 321.950
- Nível 1 -> Preço entre 321.950 e 450.000
- Nível 2 -> Preço entre 450.000 e 645.000
- Nível 3 -> Acima de 645.000

2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
- Size 0 -> Tamanho entre 0 e 1427 sqft
- Size 1 -> Tamanho entre 1427 e 1910 sqft
- Size 2 -> Tamanho entre 1910 e 2550 sqft
- Size 3 -> Tamanho acima de 2550 sqft

3. Adicione as seguinte informações ao conjunto de dados original:
- Place ID: Identificação da localização
- OSM Type: Open Street Map type
- Country: Nome do País
- Country Code: Código do País

4. Adicione os seguinte filtros no Mapa:
- Tamanho mínimo da área da sala de estar.
- Número mínimo de banheiros.
- Valor Máximo do Preço.
- Tamanho máximo da área do porão.
- Filtro das Condições do Imóvel.
- Filtro por Ano de Construção.

5. Adicione os seguinte filtros no Dashboard:
- Filtro por data disponível para compra.
- Filtro por ano de renovação.
- Filtro se possui vista para a água ou não.

# Resolução

## Import Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

from matplotlib import gridspec
from matplotlib import pyplot as plt
import ipywidgets as widgets
import plotly.express as px
from ipywidgets import interact, interactive, fixed, interact_manual

In [2]:
# Supress Scientific Notation
np.set_printoptions(suppress=True)
pd.set_option('display.float_format', '{:.2f}'.format)

## Loading Data

In [3]:
data = pd.read_csv('datasets/kc_house_data.csv')

data['date'] = pd.to_datetime( data['date'], format='%Y-%m-%d' )

## 1. Qual a média do preço de compra dos imóveis por “Nível”? 
- Nível 0 -> Preço entre 0 e 321.950
- Nível 1 -> Preço entre 321.950 e 450.000
- Nível 2 -> Preço entre 450.000 e 645.000
- Nível 3 -> Acima de 645.000

In [4]:
data['level'] = data['price'].apply(lambda x: 'lv0' if x <= 321950 else
                                   'lv1' if (x > 321950) & (x <= 450000) else
                                   'lv2' if (x > 450000) & (x <= 645000) else
                                   'lv3')

In [5]:
data[['level', 'price']].groupby('level'). mean().reset_index()

  level     price
0   lv0 251557.65
1   lv1 385688.68
2   lv2 539730.96
3   lv3 987540.22

## 2. Qual a média do tamanho da sala de estar dos imóveis por “Size” ?
- Size 0 -> Tamanho entre 0 e 1427 sqft
- Size 1 -> Tamanho entre 1427 e 1910 sqft
- Size 2 -> Tamanho entre 1910 e 2550 sqft
- Size 3 -> Tamanho acima de 2550 sqft

In [6]:
data['size'] = data['sqft_living'].apply(lambda x: 'size0' if x <= 1427 else
                                        'size1' if (x > 1427) & (x <= 1910) else
                                        'size2' if (x > 1910) & ( x <= 2550) else 'size3')

In [7]:
data[['sqft_living', 'size']].groupby('size').mean().reset_index()

    size  sqft_living
0  size0      1123.83
1  size1      1664.96
2  size2      2211.79
3  size3      3329.61

## 3. Adicione as seguinte informações ao conjunto de dados original:
- Place ID: Identificação da localização
- OSM Type: Open Street Map type
- Country: Nome do País
- Country Code: Código do País

In [8]:
from geopy.geocoders import Nominatim

geolocator = Nominatim(user_agent='geopyTrain')

query = '47.51,-122.26'
response = geolocator.reverse(query)
response.raw

{'place_id': 158810523,
 'licence': 'Data © OpenStreetMap contributors, ODbL 1.0. https://osm.org/copyright',
 'osm_type': 'way',
 'osm_id': 236673776,
 'lat': '47.50987735',
 'lon': '-122.26001908123574',
 'display_name': '5746, South Ryan Street, Rainier Beach, Seattle, King County, Washington, 98178, United States',
 'address': {'house_number': '5746',
  'road': 'South Ryan Street',
  'neighbourhood': 'Rainier Beach',
  'city': 'Seattle',
  'county': 'King County',
  'state': 'Washington',
  'postcode': '98178',
  'country': 'United States',
  'country_code': 'us'},
 'boundingbox': ['47.509808', '47.5099694', '-122.2600792', '-122.259959']}

In [15]:
import time
import dataget
from multiprocessing import Pool

data['query'] = data[['lat', 'long']].apply(lambda x: str(x['lat']) + ',' + str(x['long']), axis=1)
df1 = data[['id', 'query']].head()

p = Pool(2)
start = time.process_time()
df1[['place_id', 'osm_type', 'country', 'country_code']] = p.map(dataget.get_data, df1.iterrows())
print(time.process_time() - start)

GeocoderUnavailable: HTTPSConnectionPool(host='nominatim.openstreetmap.org', port=443): Max retries exceeded with url: /reverse?lat=47.721&lon=-122.319&format=json&addressdetails=1 (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x00000204426466D0>, 'Connection to nominatim.openstreetmap.org timed out. (connect timeout=1)'))

In [14]:
df1.head()

           id             query
0  7129300520  47.5112,-122.257
1  6414100192   47.721,-122.319
2  5631500400  47.7379,-122.233
3  2487200875  47.5208,-122.393
4  1954400510  47.6168,-122.045